<form method="post">
    {%  csrf_token %}
    {{ formset.media }}
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table>
        {% for form in formset %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        <th>{{ form.name.label}}</th>
                        <th>{{ form.soldiers_count.label}}</th>
                        <th>{{ form.big_transporter.label}}</th>
                        <th>{{ form.medium_transporter.label}}</th>
                        <th>{{ form.small_transporter.label}}</th>
                        <th>{{ form.soldiers_reminder.label}}</th>
                    </tr>
                </thead>
            {% endif %}
            <tr class="{{ form.prefix }}">
                <td>
                    {{ form.id }}
                    {{ form.name }}
                </td>
                <td>
                    {{ form.soldiers_count }}
                </td>
                <td>
                    {{ form.big_transporter }}
                </td>
                <td>
                     {{ form.medium_transporter }}
                </td>
                <td>
                    {{ form.small_transporter }}
                </td>
                <td>
                    {{ form.soldiers_reminder }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit">
</form>
