{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table table-hover">
              <caption>
                  <button type="button" class="btn btn-primary"
                                    onclick="location.href ='{% url 'route_create' %}';">
                                    Add Route
                  </button>
              </caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="w-75">Name</th>
                    <th scope="col" ></th>

                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                    <tr scope="row">
                        <td>{{route.name}}</td>
                         <td><div class="text-right">
                            <button type="button" class="btn btn-primary"
                                    onclick="location.href ='{% url 'route_update' route.pk %}';">
                                    Edit
                            </button>
                             <button type="button" class="btn btn-danger"
                                    onclick="location.href ='{% url 'route_delete' route.pk %}';">
                                    Delete
                            </button>
                                 </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    {% if is_paginated %}
        {% include "Management/_pagination.html" %}
    {% endif %}

{% endblock %}
